.search-container{
  width:65%;
  margin:0 auto;
}

div.search-subnav{
  display: inline-flex;
  width:100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.search-tab{
  padding:2%;
  color:grey;
}
.search-tab:hover{
  color:black;
}
.is-active{
   border-bottom:3px solid #E36209;
}
.adv-search{
  margin-left: 20%;
  color: grey;
  font-size:10pt;
}
.adv-search:hover{
  color:#496ADB;
}
.number-results{
  margin-bottom: 15px;
  margin-top:20px;
  width:100%;
  font-size: 15pt;
}
.number-results strong{
  margin-left:10%;
}
a.button.sort{
  margin-right:10%;
  background-color: #E6EBF1;
  float: right;
  height:35px;
}

@media only screen and (max-width:768px) {
  .number-results strong{
    font-size:6pt;
    display: flex;
    justify-content: center;
    margin-left:0;
  }
  div.search-subnav{
    font-size:8pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}