a{
  color:#0366D6;
}
.card{
  box-shadow: none;
}
.search-card{
  display: flex;
  align-items: center;
  width:100%;
  border-left: 0px;
  border-right:0px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
}
.card-content{
  padding-left:0;
}
.overview{
  width:50%;
  margin-left:10%;
}
div.details{
  width:100px;
  color:grey;
}
.title{
  color: #0366D6;
}
p.search-description{
  font-size:9.5pt;
  color:grey;
  width: 100%;
  padding-right:0;
}
.last-updated{
  color: grey;
  font-size: 9.5pt;
  margin-top:15px;
}



.more-details{
  width:100%;
  border: 2px solid lightgrey;
}
.user-profile{
  width: 100%;
  height:75px;
  border-bottom:1px solid lightgrey;
  display: flex;
  align-items: center;
}
.users-avatar{
  width:75px;
  height:75px;
  border-radius: 5%;
}
.name{
  margin-left:20px;
  color: grey;
}
a.full-name{
  margin-left: 20px;
  margin-right:50px;
}
a:hover{
  color: #0366D6;
  text-decoration: underline;
}
.repo-details{
  display: flex;
}
.section{
  display: flex;
  justify-content: left;
  padding:2%;
  padding-right: 10%;
  
}

h1{
  font-size: 20pt;
}
h2{
  font-size: 18pt;
}
h3{
  font-size: 16pt;
}
h4{
  font-size: 14pt;
}
h5{
  font-size: 12pt;
}
h6{
  font-size: 10pt;
}


@media only screen and (max-width:768px) {
  .overview{
    width:100%;
  }
  div.search-tab{
   font-size:8pt;
 }
}

@media only screen 
and (min-width:769px)
and (max-width:1050px){
 div.search-tab{
   font-size:8pt;
 }
}