div.search-subnav{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left:40px;
  border-bottom: 1px solid lightgrey;
}
.search-tab{
  padding:20px;
  color:grey;
}
.search-tab:hover{
  color:black;
}
.is-active{
   border-bottom:3px solid #E36209;
}
.adv-search{
  margin-left: 240px;
  color: grey;
  font-size:10pt;
}
.adv-search:hover{
  color:#496ADB;
}
.number-results{
  margin-left:40px;
  margin-bottom: 15px;
  margin-top:20px;
  width:890px;
  font-size: 15pt;
}
a.sort{
  background-color: #E6EBF1;
  float: right;
  height:35px;
}