a{
  color:#0366D6;
}
.card{
  box-shadow: none;
}
.search-card{
  display: flex;
  align-items: center;
  margin-left:20px;
  width:890px;
  border-left: 0px;
  border-right:0px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
}
.card-content{
  padding-left:0;
}
.overview{
  width:450px;
}
.title{
  color: #0366D6;
}
.search-description{
  font-size:9.5pt;
  color:grey;
  width: 350px;
}
.last-updated{
  color: grey;
  font-size: 9.5pt;
  margin-top:15px;
}



.more-details{
  width:890px;
  margin-left:20px;
  border: 2px solid lightgrey;
}
.user-profile{
  width: 890px;
  height:75px;
  border-bottom:1px solid lightgrey;
  display: flex;
  align-items: center;
}
.users-avatar{
  width:75px;
  height:75px;
  border-radius: 5%;
}
.name{
  margin-left:50px;
  color: grey;
}
a.full-name{
  margin-right: 200px;
}
a:hover{
  color: #0366D6;
  text-decoration: underline;
}
.repo-details{
  display: flex;
  margin-left:105px;
}
.section{
  display: flex;
  justify-content: center;
  padding:15px;
  padding-right: 130px;
  
}

h1{
  font-size: 20pt;
}
h2{
  font-size: 18pt;
}
h3{
  font-size: 16pt;
}
h4{
  font-size: 14pt;
}
h5{
  font-size: 12pt;
}
h6{
  font-size: 10pt;
}


